body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

p{
  color: #40514E;
  line-height: 2;
}

h1 {
  /* 16px = 1em or 100%*/
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #11999E;
}

a {
  color: #11999E;
}

.jpn {
  width: 25%;
  float: left;
  margin-right: 30px;
}


.fullstack {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.introduction{
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-container {
  background-color: #EAF6F6;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.top-container p {
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 15%;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;
}

.footericons {
  position: relative;
  bottom: 7.5%;
  width: 100%;
  text-align: center;
  background-color:  #66BFBF;
}

.iconbtn {
  display: inline-block;
  background: #f1f1f1;
  height: 75px;
  width: 75px;
  margin: 10px;
  border-radius: 45%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #DB0000;
  overflow: hidden;
  position: relative;
}

.iconbtn i {
  line-height: 75px;
  font-size: 26px;
  transition: 0.2s linear;
}

.iconbtn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.iconbtn::before {
  content: "";
  position: absolute;
  height: 120%;
  width: 120%;
  background: #DB0000;
  transition: rotate(45deg);
  left: -110%;
  top: 90%;
}

.iconbtn:hover::before {
  animation: iconanimate 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes iconanimate {
  0% {
    left: -110%;
    top: 90%;
    animation-delay: 1s;
  }

  50% {
    left: 10%;
    top: -30%;
    animation-delay: 1s;
  }

  100% {
    top: -10%;
    left: -10%;
    animation-delay: 1s;
  }
}

.contact-me{
  width: 40%;
  margin: 40px auto;
}
.contact {
  position: relative;
  bottom: 50px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact:hover {
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
/* COLOURS USED

#156015 - Green
#DB0000 - Red
#2D2D2D - Black
#FOECE4 - White

Font - Mont
